
body {
    font-family: 'Montserrat', sans-serif;
    @include fonts(15px, 22px);
}
.DB__header {
    h1 {
        @include fonts(36px, 47px,);
        color: #1689F2;
    }
    &__wrap {
        display: flex;
        flex-direction: row;
        padding: 32px 0;
    }
    &__wrap-items {
        position: relative;
        padding: 0 20px;
        width: 50%;
        &_text {
            padding-left: 88px;
        }
        &_icon-testing {
            @include backgroundImage('icon-testing.png', cover);
            position: absolute;
            display: block;
            width: 63px;
            height: 54px;
        }
        &_icon-positive {
            display: block;
            position: absolute;
            @include backgroundImage('icon-positive.png', cover);
            width: 53px;
            height: 50px;
        }
        
        &_topic {
            @include fonts(15px, 22px, 600);
            color: #000000;
            margin-bottom: 15px;
        }
        &_short-description {
            color: #2D3436;
        }
    }

    @media (max-width: 1152px) {
        &__wrap-items {
            &_short-description {
                br {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 854px) {
        &__wrap {
            display: flex;
            flex-direction: column;
            padding: 32px 0 15px;
        }
        &__wrap-items {
            width: 100%;
            margin-bottom: 35px;
            &_text {
                padding-left: 0;
            }
            &_topic {
                padding-left: 70px;
                padding-top: 10px;
            }
            &_icon-testing {
                width: 50px;
                height: 43px;
            }
            &_icon-positive {
                width: 46px;
                height: 43px;            
            }
            &_short-description {
                padding-top: 16px;
            }
        }

    }
}

// =================================
// CONTENT
// =================================

.DB__content {
    color: #2D3436;
    background-color: #E5E5E5;

    &_wrap {
        display: flex;
        flex-direction: row;
        padding: 60px 0 100px;
        flex-wrap: wrap;
    }
    &__lesson {
        width: 50%;
        padding: 0 20px;
    }
    &__wrap-item-lesson {
        height: 440px;
        position: relative;
        overflow: hidden;
        margin: 0 0 42px;
        &:before {
            content: '';
            display: block;
            @include backgroundImage('forex.jpg');
            width: 100%;
            height: 250px;
            position: absolute;
            transition: all 0.5s ease;
        }
        &:hover {
            .DB__content__item-refer-name-lsn {
                opacity: 0;
            }
            .DB__content__item-sum-video-wrap {
                opacity: 1;
            }
            .DB__content__wrap-text-lesson {
                top: 156px;
                color: #fff;
            }
            .DB__content__btn-page {
                opacity: 1;
                z-index: 1;
                &:hover {
                    background: #0060b9;
                }
            }
            &:before {
                height: 376px;
                filter: blur(5px) contrast(40%) brightness(60%) drop-shadow(0 0 0 black) ;
            }
        }
    }
    &__item-refer-name-lsn {
        @include fonts(14px, 14px, 600);
        background-color: #1689F2;
        color: #fff;
        padding: 14px 35px 10px 25px;
        display: inline-block;
        position: relative;
        opacity: 1;
        transition: all 0.5s ease;
    }
    &__item-sum-video-wrap {
        position: absolute;
        display: inline-block;
        top: 32px;
        left: 26px;
        color: #fff;
        font-weight: 600;
        opacity: 0;
        transition: all 0.5s ease;
        .icon-play {
            width: 40px;
            height: 31px;
            display: inline-block;
            border: 2px solid #1689F2;
            border-radius: 3px;
            &:before {
                content: "\25B6";
                display: inline-block;
                color: #fff;
                @include fonts(34px, 0px);
                margin: 11px 0px 0 10px;
            }
        }
    }
    &__item-sum-video-text {
        display: flex;
        span {
            padding-left: 15px;
            line-height: 30px;
        }     
    }
    &__wrap-text-lesson {
        transition: all 0.5s ease;
        position: absolute;
        top: 280px;
        padding-left: 30px;
        width: 490px;
        max-width: 100%;

    }
    &__wrap-text-lesson_title {
        @include fonts(22px, 27px, 500);
        margin-bottom: 15px;
    }
    &__item-sum-video-wrap {
        display: block;
    }

    &__btn-page {
        transition: all 0.5s ease;
        opacity: 0;
        background-color: #1689F2;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 24px;
        text-transform: uppercase;
        font-weight: bold;
        z-index: -1;
    }
    @media (max-width: 854px) {
        &_wrap {
            flex-direction: column;
            padding: 25px 0 70px;
        }
        &__lesson {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
    }
    @media (max-width: 576px) {
        &__wrap-item-lesson {
            &:hover {
                .DB__content__wrap-text-lesson {
                    padding-left: 10px;
                    padding-right: 10px;
                    transition: all 0.5s ease;
                }
            }
        }
        &__wrap-text-lesson {
            padding-left: 0;
        }
    }
    @media (max-width: 440px) {
        &__btn-page {
            bottom: 24px;
        }
        &__wrap-item-lesson {
            height: 460px;
        }
    }
}

//  ================================
//          SPLOILER 
// ================================
// Spoiler text
.spoiler_body {
    display: none;
}
.spoiler_links {
    text-decoration: none !important;
    cursor: pointer;
}
.spoiler_links h2 {
    // font-size: 24px;
    // line-height: 29px;
    // line-height: 62px !important;
    // color: #1F1F1F;
    font-size: 24px;
    line-height: 29px;
    line-height: 62px!important;
    color: #1f1f1f;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
}

.spoiler_links h2:after {
    display: block;
    content: "+";
    color: #1689f2;
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    top: 24px;
    right: 0;
}

.spoiler_links h2:before {
    display: block;
    content: "-";
    color: #1689f2;
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    top: 0;
    right: 0;
}
.spoiler_wrap {
    display: block;
    position: relative;
    border-top: 1px solid #E3E3E3;
}
.spoiler_wrap-2 {
    display: block;
    position: relative;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.spoiler-icon-toggle:after {
    content: '-'!important;
}

//  ================================
//          VIDEO-LIST 
// ================================

.DB__wrap-video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    @media (max-width: 854px) {
        flex-direction: column;
    }
    @media (max-width: 576px) {
        padding: 0;
    }
}

.lock {
    .DB__wrap-list__bar-text {
        color: #A8A8A8;
    }
}

.icon-lock {
    width: 21px;
    height: 24px;
    @include backgroundImage("icon-lock.png");
    transform: translateY(-50%);
    left: 24px;
    top: 50%;
    position: absolute;
}
.back-btn{
    display: inline-block;
    position: relative;
    width: auto;
    height: 65px;
    padding: 0 25px 0 45px;
    @include fonts(14px, 65px, 600);
    text-transform: uppercase;
    background-color: #1689f2;
    color:#fff;
    text-align: center;
    margin: 60px 0 38px;
    border-radius: 3px;
    span {
        display: block;
        position: absolute;
        top: 46%;
        left: 25px;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
    }
    &:hover {
        background-color: #0060B9;
    }
}
.btn-more {
    display: inline-block;
    position: relative;
    width: auto;
    height: 65px;
    padding: 0 25px 0 45px;
    @include fonts(14px, 65px, 600);
    text-transform: uppercase;
    background-color: #1689f2;
    color:#fff;
    text-align: center;
    margin: 60px 0 38px;
    border-radius: 3px;
    transform: translateX(-50%);
    left: 50%;    
    span {

    }
    &:hover {
        background-color: #0060B9;
    }
}
.wrap-img-course {
    @include backgroundImage("book.png", cover);
    width: 450px;
    height: 450px;
    margin-bottom: 50px;
    @media (max-width: 992px) {
        width: 350px;
        height: 350px;
    }
    @media (max-width: 854px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: 576px) {
        width: 320px;
        height: 320px;
    }
    @media (max-width: 340px) {
        width: 300px;
        height: 300px;
    }
}

@media( min-width: 855px) {
    .bottom-btn.back-btn {
        display: none;
    }
}
@media (max-width: 854px) {
    .top-btn.back-btn {
        display: none;
    }
    .bottom-btn.back-btn {
        display: inline-block;
        width: auto;
        margin: 50px auto;
        transform: translateX(-50%);
        left: 50%;        
    }
}

.DB__wrap-text {
    display: block;
    width: 50%;
    padding: 0 15px;
    &_topic {
        @include fonts(17px, 22px, 600);
        color: #000000;
        margin-bottom: 10px;        
    }
    &_subtext {
        @include fonts(15px, 22px, 500);
        color: #2D3436;
        margin-bottom: 50px;
        max-width: 480px;
    }
    p {
        max-width: 530px;
        @include fonts(17px, 31px);
        font-size: 17px;
        line-height: 31px;
        color: #2e2e2e;
    }
    @media (max-width: 854px) {
        width: 100%;
        margin-bottom: 50px;
        &_subtext {
            max-width: 100%;
        }
        p {
            max-width: 100%;
        }
    }
    @media (max-width: 576px) {        
        padding: 0 20px;
        margin-bottom: 35px;
        p {
            @include fonts(15px, 22px);
        }
    }
}
.DB__wrap-list {
    display: block;
    max-width: 50%;
    width: 449px;
    padding: 0 15px;
    &__bar-links {
        display: block;
    }
    &__bar-links:nth-child(2n) &__bar {
        background-color: #fff;
        &:hover {
            background-color: #E9ECEF;
        }
    }
    &__bar {
        position: relative;
        display: block;
        width: 100%;
        height: 70px;
        background-color: #F7F7F7;
        .i-play {
            width: 19px;
            height: 19px;
            display: inline-block;
            border: 2px solid #1689F2;
            border-radius: 3px;
            transform: translateY(-50%);
            left: 24px;
            top: 50%;
            position: absolute;
            &:before {
                content: "\25B6";
                display: inline-block;
                color: #1689F2;
                @include fonts(18px, 0px);
                margin: 6px 0px 0 3px;
                position: absolute;
            }
        }
        .lesson-time {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 400;
            color: #A8A8A8;
        }
        &:hover {
            background-color: #E9ECEF;
        }
    }
    &__bar-text {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 60px;
        font-weight: 500;
    }
    .lock {
        &__bar-text {
            color: #a8a8a8;
        }
    }
    @media (max-width: 854px) {
        max-width: 100%;
        width: 100%;
    }
    @media (max-width: 576px) {
        padding: 0;
        &__bar-text {
            max-width: 230px;
        }
    }
    @media (max-width: 340px) {
        &__bar-text {
            max-width: 200px;
        }
    }
}